{% extends 'base.html' %}

{% block content %}
<!-- Cart -->
<div class="container">
    <!-- Cart item -->

    <table class="table table-bordered">
        <thead class="bg-dark text-white">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                <th scope="col">Rental Days</th>
                <th scope="col">Subtotal</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for row in cartData %}
            <tr>
                <th scope="row">{{row[2]}}</th>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>${{row[3] * row[4]}}</td>
                <td><a href="/removeFromCart?productId={{row[1]}}">Remove Product</a></td>

            </tr>
            {% endfor %}
        </tbody>

    </table>

    <div class="row">
        <div class="col-md-3">
            Grand Total: $ <strong><u>{{totalsum}}</u></strong>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {% if totalsum > 0.00 %}
            <a href="/pdf">
                <button class="btn btn-primary">Print Receipt</button>
            </a>
            {% else %}
            <p>Please add products to the cart.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}