{% extends 'base.html' %}
{% block content %}
<div class="container">
    <table class="table table-bordered">
        <thead class="">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                <th scope="col">Rental Days</th>
                <th scope="col">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for row in cartData %}
            <tr>
                <th scope="row">{{row[2]}}</th>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>${{row[3] * row[4]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-3">
            Grand Total: $ <strong><u>{{totalsum}}</u></strong>
        </div>
    </div>
</div>
{% endblock %}