{% extends 'base.html' %}
{% block content %}
<div class="container">
    <table class="table table-bordered">
        <thead class="">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                <th scope="col">Rental Days</th>
                <th scope="col">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for row in cartData %}
            <tr>
                <th scope="row">{{row[2]}}</th>
                <td>$1</td>
                <td>{{row[3]}}</td>
                <td>${{row[3]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-3">
            Shipping & handling :$ 0.00
            <br>
            Taxes(6% on grand total): {{tax}}
            <br>
            Grand Total: $ {{totalsum}}
        </div>
    </div>
</div>
{% endblock %}